body.vista-admin-producto {
    background: #f0f0f0;
}

/* formulario agregar producto */
.tablero-admin-producto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tablero-admin-producto .contenedor-admin-producto {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 10px;
    align-items: center;
}

.titulo-formulario-admin {
 margin-bottom: 10px;
 text-transform: uppercase;
 font-size: 16px;
}

.formulario-admin-producto {
    width: 100%;
}

.titulo-formulario-agregar {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}


/* Inputs del formulario */

.contenedor-agregar-dato {
    display: flex;
    align-items: center;
    border: 2px solid #234;
    background: #fff;
    height: 40px;
    margin-bottom: 10px;
}

.input-agregar-dato {
    border: none;
    background: none;
    outline: none;
    padding: 0px 5px;
    height: 40px;
    font-size: 16px;
}

.fa-pencil-alt, .fa-dollar-sign, .fa-paint-brush {
    width: 40px;
    height: 40px;
    background: #234;
    font-size: 20px;
    color: #f0f0f0;
    padding: 10px;
}


/* Textarea del formulario */
.descripcion-productos-admin {
    background: #234;
    text-align: center;
    padding: 5px;
    margin-bottom: 20px;
    color: #fff;
}

.textarea-admin {
    outline: none;
    border: none;
    width: 100%;
}



/* Select del formulario */
.seleccion-admin {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 5px;
    border: none;
    margin-bottom: 40px;
    background: #234;   
     border: 2px solid lightgrey;
    color: #fff;
    font-size: 16px;
    text-align: center;
}


/* Imagen del formulario */
.contenedor-imagen-admin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    height: 40px;
    padding: 5px;
    background: #234;
    color: #fff;
    border: 2px solid lightgrey;
}

.imagen-admin {
    display: none;
}

.imagen-producto-admin {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px dashed #555;
    height: 250px;
    margin-bottom: 30px;
}

#imagen-previa {
    display: none;
    width: 100%;
}

.fa-camera {
    font-size: 34px;
    color: #555;
}


/* Botones del formulario */
.contenedor-botones-admin {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.contenedor-boton-admin {
    border: none;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 40px;
    background: #234;
    margin-bottom: 20px;
    padding: 5px;
}

.titulo-boton-admin {
    color: #fff;
    padding: 0px 5px;
    text-transform: uppercase;
}

.fa-times-circle {
    font-size: 20px;
    color: red;
}

.fa-check-circle {
    font-size: 20px;
    color: green;
}


@media (min-width: 468px){
    .formulario-admin-producto {
        max-width: 90%;
    }

    .imagen-producto-admin {
        max-width: 400px;
        margin: auto;
    }

    .imagen-admin {
        width: 70px;
        height: 70px;
    }

    .contenedor-boton-admin {
        width: 120px;
        height: 50px;
    }
}

@media (min-width: 768px){
    .titulo-formulario-admin {
        font-size: 22px;
    }
    
    .imagen-admin {
        width: 100px;
        height: 100px;
    }

    .contenedor-boton-admin {
        width: 150px;
        height: 50px;
    }
}

@media (min-width: 992px){
    .tablero-admin-producto {
        height: calc(100vh - 100px);
    }
    
    .contenedor-admin-producto {
        width: 100%;
        flex-direction: row;
        justify-content: center;
        margin-top: 30px;
    }

    .titulo-formulario-admin {
        margin-top: 80px;
    }

    .formulario-admin-producto {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .contenedor-agregar-dato {
        margin-bottom: 30px;
    }

    .contenedor-datos-1 {
        width: 50%;
        height: 500px;
    }

    .contenedor-botones-admin {
        width: 100%;
        margin-top: 10px;
        justify-content: space-evenly;
    }

    .contenedor-datos-2 {
        width: 35%;
        height: 500px;
        margin-top: -5px;
    }

    .contenedor-boton-admin:hover {
        cursor: pointer;
        background: #28435d;
        font-weight: bold;
    }
}