<footer>
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="footer-col-1">
            <h3>Descarga Nuestra Aplicación</h3>
            <p>Disponible para celulares Android y Iphone</p>
            <div class="app-logo">
              <img src="../images/play-store.png" />
              <img src="../images/app-store.png" />
            </div>
          </div>
          <div class="footer-col-2">
            <img src="../images/logo-white.png" />
            <p>La mejor tienda para tus mascotas</p>
          </div>
          <div class="footer-col-3">
            <h3>links importantes</h3>
            <ul>
              <li>cuchas</li>
              <li>alimentos</li>
              <li>veterinaria</li>
              <li>criadero</li>
            </ul>
          </div>
          <div class="footer-col-3">
            <h3>Siguenos </h3>
            <ul>
              <li>Facebook</li>
              <li>Twiter</li>
              <li>Instagram</li>
              <li>Youtube</li>
            </ul>
          </div>
        </div>
        <hr />
        <p class="copyright">Copyright 2021 - Grupo 14</p>
      </div>
    </div>
  </footer>