<section class="card-viseted">
    <h3 class="section-title">Productos Relacionados</h3>

    <article class="card">
        <img
          src="images/cajita-gato.png"
          width="100%"
          alt="Foto de cafetera Moulinex"
        />
        <div class="card-content">
          <!-- <div class="icon-truck">
            <i class="fas fa-truck"></i>
          </div> -->
          <hr>
          <div class="product-info">
            <h5 class="product-name">Contenedora elegante</h5>
            <p class="product-price">$6.770</p>
                </p>
          </div>
          <div class="button-container">
        <form action="/carrito" method="get">
            <button type="submit" class="button-card">comprar</button>
          </form>

          <form action="/productDetail" method="get">
            <button type="submit" class="button-card-ver"><i class="far fa-eye"></i>ver</button>
          </form>
        </div>
        </div>
      </article>


      <article class="card">
        
        <img src="/images/cancat-piedras-gel.png" width="100%" alt="piedras-gel">

        
        <div class="card-content">
          <!-- <div class="icon-truck">
            <i class="fas fa-truck"></i>
         
          </div> -->
          <hr>
          <div class="product-info">
            <h5 class="product-name">Piedras en Gel</h5>
            <p class="product-price">$230.000</p>
          </div>
          <div class="button-container">
            <form action="/carrito" method="get">
                <button type="submit" class="button-card">comprar</button>
              </form>
  
              <form action="/productDetail" method="get">
                <button type="submit" class="button-card-ver"><i class="far fa-eye"></i>ver</button>
              </form>
            </div>
          
        </div>
      </article>

      <article class="card">
        <img src="/images/comida-gato.png" width="100%" alt="comida-ligth">
       
        <div class="card-content">
          <!-- <div class="icon-truck">
            <i class="fas fa-truck"></i>
          </div> -->
          <hr>
          <div class="product-info">
            <h5 class="product-name">comida Nutrictiva</h5>

            <p class="product-price">$70.500</p>
          </div>
          <div class="button-container">
            <form action="/carrito" method="get">
                <button type="submit" class="button-card">comprar</button>
              </form>
  
              <form action="/productDetail" method="get">
                <button type="submit" class="button-card-ver"><i class="far fa-eye"></i>ver</button>
              </form>
            </div>
        </div>
      </article>

      <article class="card">
        <img src="/images/comida-alta-gama.png" width="100%" alt="comdida-elegante">

        <div class="card-content">
          <!-- <div class="icon-truck">
            <i class="fas fa-truck"></i>
          </div> -->
          <hr>
          <div class="product-info">
            <h5 class="product-name">Comida Balanceada</h5>

            <p class="product-price">$23.200</p>
          </div>
          <div class="button-container" id="magia">
            <form action="/carrito" method="get">
                <button type="submit" class="button-card">comprar</button>
              </form>
  
              <form action="/productDetail" method="get">
                <button type="submit" class="button-card-ver"><i class="far fa-eye"></i>ver</button>
              </form>
            </div>
        </div>
      </article>



</section>