
<h2 class="section-title-servicio">servicios</h2>
<section class="containers-servicio">
      <article class="card-servicio">
        <img src="/images/veterinaria-service.jpg" width="100%" alt="comdida-elegante">

        <div class="card-content-servicio">
     
          <hr>
          <div class="product-info">
            <h2 class="product-name-servicio " >Atencion veterinarias las 24 horas en todo GBA</h2>
                
          </div>
      
        </div>
      </article>
      <article class="card-servicio">
        <img src="/images/asesoramiento-servicio.jpg" width="100%" alt="comdida-elegante">

        <div class="card-content-servicio">
     
          <hr>
          <div class="product-info">
            <h2 class="product-name-servicio " >Asesoramiento por ulises y pablo</h2>
                
          </div>
      
        </div>
      </article>

      <article class="card-servicio">
        <img src="/images/peluqueria-servicio.jpg" width="100%" alt="comdida-elegante">

        <div class="card-content-servicio">
     
          <hr>
          <div class="product-info">
            <h2 class="product-name-servicio " >cortes y peinados estilo frances</h2>
                
          </div>
      
        </div>
      </article>




</section>