<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head.ejs')%>
<body>
    <%- include('../partials/header-admin.ejs')%>
        <main class="tablero-agregar-producto-administrador">
           
           
              
                    <div class="botones-editar-administrador">
                        <button class="boton-editar-administrador" type="reset">
                            <i class="fas fa-times-circle"></i>
                            <p class="titulo-boton-administrador">Cancelar</p>
                        </button>
                        <button class="boton-editar-administrador" type="submit">
                            <i class="fas fa-check-circle"></i>
                            <p class="titulo-boton-administrador">Guardar</p>
                        </button>
                    </div>
                </form>
            </div>
        </main>
    </div>   
</body>
</html>