<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head.ejs')%>
<body class="vista-admin-producto">
    <%- include('../partials/header-admin.ejs')%>
    <main class="main-panel-admin">

    </main>
</body>
</html>